{% extends "app_quotes/base.html" %}
{% block content %}
<div class="container-lg mt-2">
    <h3>Add quote</h3>
    <form action="{% url 'app_quotes:add_quote' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Quote text</label>
            {{ form.text }}
        </div>
        <div class="mb-3">
            <label class="form-label">Select author:</label>
            {{ form.author }}
        </div>
        <div class="mb-3">
            <label class="form-label">Select tags:</label>
            {{ form.tags }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </form>
</div>
{% endblock %}